doctype html
html(lang="ru")
  head
    meta(charset="utf8")
    title Заимствованные слова и их русские соответствия
    link(rel="stylesheet", href="styles.css")

  body
    header.header
      .header__content
        h1 Заимствованные слова и их русские соответствия
        
        .search
          input.search__query(type="text" placeholder="Начните вводить слово")
        
        span.word-count Слов в словаре: #{dic.length}
        
    main
      .dictionary
        dl
          each item in dic
            .dictionary__item
              dt.dictionary__term= item.term
              dd.dictionary__def= item.def

    script(src="scripts.js")